{% extends "index.html" %}
{% load static %}
{% block body_block %}



<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>




<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">
        ×
        </button>
        <strong>{{message}}<strong>
      </div>
  {% endfor %}
  {% endif %}
  <br>
  <br>
  <a href="{% url 'booking:create_booking' %}">Create Rental Booking</a>
  <br>
  <br>
    <table>
        <tr>
            <th>Customer Name</th>
            <th>Vehicle Name</th>
            <th>Model Number</th>
            <th>Rental Status</th>
            <th>Booking Date</th>
            <th>Booking Update Date</th>
            <th>Update Booking</th>
        </tr>
          
        {% if noItem == False %}
        {% for data in dataset %}
          <tr>
              <td>{{ data.customer.first_name|capfirst }} {{ data.customer.last_name|capfirst }}</td>
              <td> {{ data.vehicle.name }}</td>
              <td> {{ data.vehicle.model_no }}</td>
              <td>{{ data.statusName }}</td>
              <td>{{ data.created_at }}</td>
              <td>{{ data.updated_at }}</td>
              <td><a href="{% url 'booking:edit_booking' data.id %}">Update</a></td>
          </tr>
          {% endfor %} 
          {% else %}
              <tr>
                <td colspan="4">No Data Found</td>
              </tr>
              {% endif %}
          
        
          
</table>
</div>
{% endblock %}