<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
    </head>
    <body>
        <h1>Rental Vehicle Booking</h1>
        <a href="/about/">About Me</a>
        <a href="/customer/">Customer</a>
        <a href="/vehicle/">Vehicle</a>
        <a href="/booking/">Booking</a>
        <a href="/inventory/">Inventory</a>
    </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
  
        <ul class="nav nav-tabs">
          
          {# Some logic on what to display for last item#}
            <li><a href="{% url 'vehicle:list_vehicle' %}">Vehicle</a></li>
            <li><a href="{% url 'customer:list_customer' %}">Customer</a></li>
            <li><a href="{% url 'booking:list_booking' %}">Booking</a></li>
            <li><a href="{% url 'inventory:list_inventory' %}">Inventory</a></li>            
      </ul>
      </div>
    </nav>
    {% block body_block %}
    {% endblock %}

  </body>
</html>